/*Estilizando o layout usando CSS Grid*/

* { margin: 0; padding: 0; }

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 2.5rem;
}

.container {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    min-height: 100vh;
}

main {
    grid-area: main;
    text-align: center;
    width: 95%;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
}

header {
    grid-area: header;
    background-color: lightblue;
    padding: 1.3rem;
    text-align: center;
}

nav {
    grid-area: sidebar;
    text-justify: 1.5rem;

}

article {
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: lightyellow;
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.25rem;
    
}

    h2 {
        font-size: 1.0rem;
    }

    h3 {
        font-size: 0.625rem;
    }

main {
    width: 95%;
    padding: 0.625rem;
}
}

@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 1.5rem; 
    }

    h2 {
        font-size: 0.900rem;
    }

    h3 {
        font-size: 0.750rem
    }

    main {
        width: 80%;
    }
}

@media (min-width: 901px) {
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1.0rem;
    }

    h3 {
        font-size: 0.850rem;
    }

    main {
        width: 70%;
        max-width: 62.5rem;
    }
}